<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="reviews">
      <% if current_user %>
        <%= form_for [@product, Review.new] do |f| %>
          <%= f.label :description %><br>
          <%= f.text_area :description, size: "60x5" %><br>
          <%= f.label :rating %>
          <%= f.select :rating, [1, 2, 3, 4, 5] %><br>
          <%= f.submit "Submit Review" %>
        <% end %>
      <% end %>

      <h1>Customer Reviews</h1>
      <ul>
        <% @reviews.reverse.each do |review| %>
          <li>
            <div><b>Review by:</b> <%= review.user.name %> <b>Description:</b> <%= review.description %> <b>Rating:</b> <%= review.rating %>/5
              <% if current_user == review.user %>
                <%= link_to "Delete", product_review_path(@product.id, review.id), method: :delete %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

  </article>

</section>
